<!DOCTYPE html>
<html>
	<head>
		<title>Join the Club</title>
	</head>
	<body>
		<h1>Join the Club</h1>
		<% if (error) { %>
		<p><%= error %></p>
		<% } %>
		<form action="/auth/join-club" method="POST">
			<label for="passcode">Passcode:</label>
			<input type="password" name="passcode" required />
			<br />
			<button type="submit">Join</button>
		</form>
	</body>
</html>
